/* FormStepOne.css */

.form-container {
  min-height: 100vh;
  background-image: url("/public/images/bg.jpg"); /* path relative to public/ */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 28px;
  color: #0c2d57;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.form-card {
  background-color: rgba(255, 255, 255, 0.95); /* slightly transparent white */
  padding: 30px;
  border-radius: 12px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.form-card h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #003865;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #cbd5e0;
  border-radius: 6px;
  font-size: 14px;
}

.submit-btn {
  background: #003865;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  background: #0052a0;
}

.error-input {
  border: 2px solid red;
}

.error-text {
  color: red;
  font-size: 12px;
  margin-bottom: 8px;
}

input::placeholder {
  color: #aaa;
  font-style: italic;
}

.submitting-text {
  margin-top: 15px;
  font-weight: bold;
  color: #444;
  text-align: center;
}
